<h1>Adventures</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @adventures.each do |adventure| %>
      <tr>
        <td><%= adventure.title %></td>
        <td><%= permission_link_to 'Show', adventure %></td>
        <td><%= permission_link_to 'Edit', edit_adventure_path(adventure) %></td>
        <td><%= permission_link_to 'Destroy', adventure, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= permission_link_to 'New Adventure', new_adventure_path %>
